<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,194},{1,1}}</string>
                <key>offset</key>
                <string>{-159.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1998},{30,34}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,99},{30,34}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1506},{72,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,80},{72,76}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1506},{78,78}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,78},{78,78}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1000},{98,98}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,68},{98,98}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1298},{118,110}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,66},{118,110}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1492},{138,126}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,59},{138,126}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,848},{150,140}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,49},{150,140}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1878},{162,150}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,42},{162,150}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,180},{170,158}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,39},{170,158}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,572},{174,166}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,38},{174,166}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{176,170}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,38},{176,170}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,198},{180,174}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,35},{180,174}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,400},{186,174}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,35},{186,174}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1796},{192,174}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,35},{192,174}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1596},{198,176}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,36},{198,176}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1412},{202,182}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,32},{202,182}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{206,186}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,30},{206,186}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{210,190}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{210,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{214,194}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,26},{214,194}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{218,198}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,23},{218,198}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{222,200}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,23},{222,200}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{224,204}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,20},{224,204}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{226,206}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{226,206}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{226,198}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,18},{226,198}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{228,202}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{228,202}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,204}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{230,204}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{210,206}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,15},{210,206}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{190,210}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,13},{190,210}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1798},{182,198}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,26},{182,198}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1596},{182,200}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,25},{182,200}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10032.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1412},{182,184}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,24},{182,184}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10033.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1224},{182,186}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,22},{182,186}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,380},{180,186}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,22},{180,186}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10035.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,380},{180,186}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,22},{180,186}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10036.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,382},{180,188}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,20},{180,188}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10037.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,382},{180,188}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,20},{180,188}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10038.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,198},{180,190}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,18},{180,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10039.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1016},{180,190}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,17},{180,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10040.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,824},{180,190}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,17},{180,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10041.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1596},{180,190}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,17},{180,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10042.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,202},{178,190}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,16},{178,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10043.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,202},{178,190}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,16},{178,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10044.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,208},{176,190}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,15},{176,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,340},{174,188}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,15},{174,188}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10046.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,382},{174,188}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,14},{174,188}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10047.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,572},{172,186}}</string>
                <key>offset</key>
                <string>{-12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,14},{172,186}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10048.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,760},{172,180}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,13},{172,180}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,568},{168,178}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,13},{168,178}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10050.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1134},{162,178}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,13},{162,178}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10051.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1134},{156,178}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,13},{156,178}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10052.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1856},{156,180}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,12},{156,180}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10053.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1788},{156,180}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,12},{156,180}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10054.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1698},{156,180}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,12},{156,180}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1862},{158,180}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,12},{158,180}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1680},{158,180}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,12},{158,180}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1870},{158,180}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,12},{158,180}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1502},{158,182}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,10},{158,182}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10059.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1412},{158,182}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,11},{158,182}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1496},{160,182}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,11},{160,182}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1686},{160,182}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,11},{160,182}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1306},{160,184}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,9},{160,184}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1310},{160,184}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,9},{160,184}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10064.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1692},{160,184}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,9},{160,184}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10065.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1506},{160,184}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,9},{160,184}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10066.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1314},{162,186}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,8},{162,186}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1102},{162,186}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,8},{162,186}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,914},{162,186}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,8},{162,186}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1118},{162,186}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,8},{162,186}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,930},{162,186}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,8},{162,186}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10071.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1122},{162,186}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,8},{162,186}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10072.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1796},{162,186}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,8},{162,186}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,748},{164,188}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,7},{164,188}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10074.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,740},{164,188}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,7},{164,188}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10075.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1124},{164,188}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,7},{164,188}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,682},{164,188}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,7},{164,188}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,516},{164,188}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,7},{164,188}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10078.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1506},{164,190}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,5},{164,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10079.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1314},{164,190}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,5},{164,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10080.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1314},{166,190}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,5},{166,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10081.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,932},{166,190}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,5},{166,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10082.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,942},{166,190}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,5},{166,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10083.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,740},{166,190}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,5},{166,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10084.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,740},{166,190}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,5},{166,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10085.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,568},{166,190}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,5},{166,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10086.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,572},{166,190}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,5},{166,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10087.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,942},{164,190}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,5},{164,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10088.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1596},{160,192}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,3},{160,192}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10089.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,682},{140,190}}</string>
                <key>offset</key>
                <string>{7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,4},{140,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>explosion_10090.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,932},{138,188}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,4},{138,188}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion.png</string>
            <key>size</key>
            <string>{1512,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbdc913897edf64b5f2d56d4d2f2c42d:75148754a5b1d289edad48470a174f38:c5a2c42043f2b0dda1e7e7adb0cc6144$</string>
            <key>textureFileName</key>
            <string>explosion.png</string>
        </dict>
    </dict>
</plist>
